@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bglogin.jpg);
    width: 100vw;
    height: 100vh;
}

.msgError{
    background-color: rgb(255, 101, 101);
    position: fixed;
    font-size: 14pt;
    margin-top: 15px;
    text-align: center;
    border-radius: 4px;
    left: 50%;
    transform: translate(-50%);
    max-width: 400px;
    font-family: 'Oswald', sans-serif;
}

.fa-envelope{
    display: flex;
    padding-left: 5px;
    margin-top: -30px;
    font-size: 14pt;
    max-width: 10px;
}

.fa-lock{
    display: flex;
    padding-left: 5px;
    margin-top: -30px;
    font-size: 14pt;
    max-width: 10px;
}

.fa-eye{
    position: relative;
    top: 62px;
    left: 93%;
    max-width: 30px;
    max-height: 30px;
    display: flex;
    font-size: 14pt;
    margin-top: -20px;
    cursor: pointer;
}

.fa-eye-slash{
    visibility: hidden;
    position: relative;
    top: 61px;
    left: 93%;
    max-width: 30px;
    max-height: 30px;
    display: flex;
    font-size: 14pt;
    margin-top: -20px;
    cursor: pointer;
}

h1{
    margin-top: 10px;
    font-size: 28pt;
    font-family: 'PT Sans Narrow', sans-serif;
}

hr{
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    margin-top: 10px;
    border-color: rgba(0, 81, 255)
}

a{
    text-decoration: none;
    color: rgb(51, 116, 255);
    font-weight: 900;
}

a:hover{
    color: rgba(0, 81, 255)
}

.card_login{
    background-image: linear-gradient(rgba(163, 221, 255, 0.8), rgba(190, 255, 230, 0.8));
    width: 28vw;
    height: 65vh;
    text-align: center;
    border-radius: 4px;
}

.label_email{
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    font-size: 16pt;
    font-family: 'Barlow Condensed', sans-serif;
}

.label_email > input{
    margin-top: 5px;
    padding: 10px 10px 10px 30px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 14pt;
    border-bottom: 3px solid rgb(0, 81, 255);
    font-family: 'Barlow Condensed', sans-serif;
}

.label_password{
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 16pt;
    font-family: 'Barlow Condensed', sans-serif;
}

.label_password > input{
    margin-top: 5px;
    padding: 10px 10px 10px 30px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 14pt;
    border-bottom: 3px solid rgb(0, 81, 255);
    font-family: 'Barlow Condensed', sans-serif;
}

.label_cadastro{
    margin-top: 25px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16pt;
}

.input_btn{
    display: flex;
    justify-content: right;
    margin-top: 10px;
    padding: 10px;
}

.input_btn > input:hover{
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    transition: .3s ease-in-out;
}

.input_btn > input{
    padding: 6px;
    font-size: 16pt;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: 'Barlow Condensed', sans-serif;
}