@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

a{
    text-decoration: none;
    font-size: 16pt;
    color: black;
    background-color: rgb(216, 65, 65);
    padding: 8px;
    border-radius: 4px;
    width: 90%;
    text-align: center;
}

a:hover{
    background-color: rgb(216, 22, 22);
    transition: .4s ease-in-out;
    color: wheat;
}

h1{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 85px;
    font-size: 28pt;
}

.fa-eye{
    position: relative;
    top: 53px;
    left: 93%;
    max-width: 30px;
    max-height: 30px;
    display: flex;
    font-size: 14pt;
    margin-top: -20px;
    cursor: pointer;
}

#msgError{
    background-color: rgb(216, 65, 65);
    position: fixed;
    font-size: 15.5pt;
    margin-top: -60px;
    text-align: center;
    border-radius: 4px;
    left: 50%;
    transform: translate(-50%);
    max-width: 400px;
    font-family: 'Oswald', sans-serif;
}

.msgSucess{
    background-color: rgb(114, 255, 101);
    position: fixed;
    font-size: 15.5pt;
    margin-top: -60px;
    text-align: center;
    border-radius: 4px;
    left: 50%;
    transform: translate(-50%);
    max-width: 400px;
    font-family: 'Oswald', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/bgcadastro.jpg);
    width: 100vw;
    height: 100vh;
}

.card_cadastro{
    background-color: rgba(255, 255, 255, 0.55);
    width: 27vw;
    height: 85vh;
    border-radius: 4px;
}

.label_geral{
    font-size: 16pt;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0px 14px 0px 14px;
}

.label_geral > input {
    border-radius: 4px;
    color: black;
    margin-bottom: 4px;
    font-size: 14pt;
    margin-top: 6px;
    padding: 6px;
    border: none;
    outline: none;
    border-bottom: 3px solid rgb(255, 60, 60);
}

.label_geral > input:hover{
    border-bottom: 3px solid red;
    transition: .3s ease-in-out;
}

.input_btn{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_btn > input{
    cursor: pointer;
    width: 94%;
    font-size: 16pt;
    padding: 8px;
    border: none;
    outline: none;
    background-color: rgb(216, 65, 65);
    border-radius: 4px;
}

.input_btn > input:hover{
    background-color: rgb(216, 22, 22);
    transition: .4s ease-in-out;
    color: wheat;
}

.input_btnvoltar{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}